<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <!-- <link rel="stylesheet" href="/css/header.css"> -->
        <!-- <link rel="stylesheet" href="/css/footer.css"> -->
        <!-- <link rel="stylesheet" href="/css/signIn.css"> -->
       
        <%- style %>
    </head>
    <body>
        <% if(check!='true'){%>
        <%- include('_header'); -%>
      <%}%>
        <main id ="layout-main"> 
            <%- body%> 
            <!-- <p><%=check%></p> -->
        </main>
        <% if(check!='true'){%>
        <%- include('_footer'); -%>
        <%}%>
        <%- script %>
    </body>
</html>